[mysqld]
character-set-server=utf8
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
innodb_use_native_aio=0
max_allowed_packet=512M
log_output=FILE
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.001 
log-queries-not-using-indexes=1
general_log_file=/var/log/mysql/query.log
general_log=1