[mysqld]
character-set-server=utf8
innodb_use_native_aio=0
max_allowed_packet=512M
log_output=FILE
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.001 
log-queries-not-using-indexes=1
general_log_file=/var/log/mysql/query.log
general_log=1